@import "../styles/variables";

@media (min-width: 0px) {
   .desktop-nav {
      display: none;
   }
}

@media (min-width: 320px) {
   .section-wrapper {
      max-width: 320px;
   }

   .options-list__cell {
      margin-left: 10px;
   }
}

@media (min-width: 480px) {
   .section-wrapper {
      max-width: 480px;
   }

   .options-list__cell {
      margin-left: 30px;
   }
}

@media (min-width: 576px) {
   .section-wrapper {
      max-width: 570px;
   }
}

@media (min-width: 768px) {
   .section-wrapper {
      max-width: 720px;
   }

   .section-content {
      padding: 80px 0;
   }

   body {
      font-size: 1.6rem;
   }

   .main-title {
      font-size: 4.4rem;
      max-width: 700px;
      margin-bottom: 40px;
   }

   .section-title {
      font-size: 4.4rem;
      color: $black;
      font-family: $montserratBold;
      font-style: normal;
      font-stretch: normal;
      margin-bottom: 40px;

      &_white {
         color: $white-two;
      }
   }

   .options-list-block {
      display: none;
   }

   .advantages-section__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .advantages-section__list-item {
      width: 48%;
   }

   .section-description {
      max-width: 690px;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
   }

   .form-section__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .form-section__form-row {
      width: 48%;
   }
}

@media (min-width: 992px) {
   .section-wrapper {
      max-width: 960px;
   }

   .mobile-nav, .menu__icon {
      display: none;
   }

   .desktop-nav {
      display: block;
   }
}

@media (min-width: 1200px) {
   .section-wrapper {
      max-width: 1220px;
      padding: 0 10px;
   }

   .main-title {
      font-size: 6rem;
      max-width: 700px;
   }

   .form-section__form {
      display: flex;
   }

   .form-section__form-row {
      max-width: 282px;

      &:last-of-type {
         max-width: 240px;
      }
   }
}

@media (max-width: 767px) {
   .options-list__table {
      display: none;
   }
}