$montserrat: 'Montserrat', sans-serif;
$montserratBold: 'Montserrat Bold', sans-serif;


//Colors

$white-two: #ffffff;
$white-three: #f0f0f0;
$black: #2b2b2b;
$greyish-brown: #4a4a4a;
$black-two: #111111;
$grass: #47aa22;
$white: #e2e2e2;
$cool-grey: #a7aeb4;
$white-four: #d8d8d8;
$brown-grey: #b3b3b3;
$greyish-brown-opacity: rgba(74, 74, 74, 0.3);



